<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Description:</b>
  <%= @movie.description %>
</p>

<p>
<% if signed_in? %>
Speed : <%= rating_for_user @movie, current_user, "speed", :star => 10, :not_rated_text => "Login first" %>
Price : <%= rating_for_user @movie, current_user, "price", :star => 10 %>

</p>

<p>
Avg Speed : <%= rating_for @movie, "speed", :star => 10, display_average: true %>
Avg Price : <%= rating_for @movie, "price", :star => 10, display_average: true %>
</p>

<p>
<div id= "totalrating">
<%= render 'total_rating' %>
</div>
</p>

<% else %>
<p>
Speed : <%= rating_for @movie, "speed", :star => 10, :not_rated_text => "Login first" %>
Price : <%= rating_for @movie, "price", :star => 10 %>


Avg Speed : <%= rating_for @movie, "speed", :star => 10, display_average: true %>
Avg Price : <%= rating_for @movie, "price", :star => 10, display_average: true %>
</p>
<% end %>




<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
